.del {
    background: #f84b4b;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 45%;
    cursor: pointer;
    float: right;
  }
  
  .todo {
    background: #ddddfc;
    padding: 15px;
    border-bottom: 1px rgb(186, 166, 230) solid;
  }
  
  .is-complete {
    text-decoration: line-through;
  }